html, body {
  overflow: hidden;
}

.cardcontainer {
  display: flex;
  margin-top: 10%;
}

.designcards {
  background-color: lightblue;
  border-radius: 5%;
  padding: 2%;
  /*
  box-shadow: 4px 4px 15px 2px #8888;
  */
  transition: 0.2s;
}

.designcards:not(:first-child) {
  margin-left: -2%;
}

.designcards:hover {
  transform: translateY(-15%);
}

.designcards:hover ~ .designcards {
  transform: translateX(2%);
}

.designcards img {
  width: 100%;
}
